<!DOCTYPE html>
<html lang="en" ng-app="filterApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Drills Set 1-3: List from Service with filter</title>
</head>
<body ng-controller="FilterCtrl">

<input type="text" placeholder="Sort by name" ng-model="Filter.name">
<input type="text" placeholder="Sort by style" ng-model="Filter.style">


<ul ng-repeat="item in testData | filter:Filter">
	<li>Name: {{item.name}}</li>
	<li>Job: {{item.job}}</li>
	<li>Style: {{item.style}}</li>
</ul>



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="service.js"></script>
</body>
</html>
